body {
    margin: 0;
    font-family: 'Avenir', 'Inter', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    width: 700px;
    max-width: 100%;
    line-height: 28px;
}

a {
    color: #6E717A;
}

img {
    margin-top: 20px;
}